@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap');

body{
  font-family: 'Montserrat';
}

nav{
  z-index: 10001;
}

.gradient{
  background:linear-gradient(99deg, #EE9AE5 0%,#5961F9 100%)
}